<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 21px;
    max-width: 600px;
  }
</style>

<div class="message-content">
  <p>Olá {{name}}!</p>
  <p>Você solicitou a troca de senha no GoBarber. Para alterar sua senha, clique no link abaixo: </p>
  <p>
    <a href="{{link}}">Recuperar minha senha</a>
  </p>
  <p>Se você não solicitou a troca, desconsidere este e-mail</p>
  <p>
    Obrigado!<br />
    <strong>Equipe GoBarber</strong>
  </p>
</div>